body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(4, 4, 63);
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;
	color:#2d36bd;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
 
}


